#feed-main-what_to_watch {
    display:none;
}

#branded-page-v2-secondary-col {
    display: none;
}

#watch7-sidebar-modules {
    display: none;
}

.ytd-browse {
	display: none;
}

#related {
	display: none;
}
