#primary.ytd-two-column-browse-results-renderer {
    display: none;
}

.ytd-banner-promo-renderer {
    display: none!important;
}

#star-survey {
    display: none;
}

#feed-main-what_to_watch {
    display:none;
}

#branded-page-v2-secondary-col {
    display: none;
}

#watch7-sidebar-modules {
    display: none;
}

#related {
    display: none;
}

#dismissable.ytd-shelf-renderer {
    display: none;
}

.videowall-endscreen {
    display: none;
}
